
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 39px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

element.style {
    padding: 80px 0px;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 28px;
}

#navbar #logo {
    font-size: 32px !important;
    font-weight: bold;
    transition: 0.4s;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: darkgrey;
    color: white;
}

#navbar-right {
    float: right;
}

@media screen and (max-width: 600px) {
    div.topsers {
        margin-top: 117px;
        padding: 15px 0px 50px;
        font-size: 16px;
    }

    #navbar {
        padding: 20px 10px !important;
    }

        #navbar a {
            float: none;
            display: block;
            text-align: left;
        }

    #navbar-right {
        float: none;
    }

    #navbar {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 23px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        height: 22%;
        top: 0;
        z-index: 99;
    }

        #navbar a {
            float: left;
            color: black;
            text-align: center;
            padding: 8px;
            text-decoration: none;
            font-size: 14px;
            line-height: 25px;
            border-radius: 28px;
        }
    element.style {
        height: 470%;
        width: 353%;
    }
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h2, p {
    background-color: lightgrey;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
/* Set the size of the div element that contains the map */
/*.map{
    height: 350%;
    width: 100%;*/ /* The width is the width of the web page */
/*}*/
.column {
    font-family: "Times New Roman", Times, serif;
}
body {
    font-family: Arial;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 59px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 28px;
}

    #myBtn:hover {
        background-color: #555;
    }
.tcontainer {
    width: 100%;
    overflow: hidden; /* Hide scroll bar */
}

/* MIDDLE CONTAINER */
.ticker-wrap {
    width: 100%;
    padding-left: 100%; /* Push contents to right side of screen */
    background-color: #eee;
}

/* INNER CONTAINER */
@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 50s;
}

    .ticker-move:hover {
        animation-play-state: paused; /* Pause scroll on mouse hover */
    }

/* ITEMS */
.ticker-item {
    display: inline-block; /* Lay items in a horizontal line */
    padding: 0 2rem;
}
.topsers {
    margin-top:84px;
    padding:15px 170px 0px;
    font-size:16px;
}
