body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: none;
    overflow: auto;
}

    .navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 0px 32px;
        text-decoration: none;
        font-size: 17px;
        height: 63px;
        border-radius: 28px;
    }

        .navbar a:hover {
            background-color: lightgrey;
        }

.active {
    background-color: darkgray;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: lightgrey;
    }

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

    #myInput:focus {
        outline: 3px solid #ddd;
    }

.show {
    display: block;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h2 {
    background-color: lightgrey;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.popup-content {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s
}

.end {
    color: white;
    float: right;
    font-size: 19px;
    font-weight: bold;
}

    .end:hover,
    .end:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.popup-header {
    padding: 1px 10px;
    background-color: lightgray;
    color: black;
}

.popup-body {
    padding: 1px 5px;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
.w3-xlarge {
    font-size: 28px !important;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 3px 17px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 117%;
    height: 77%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: darkgray;
    color: black;
    transform: rotateY(180deg);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 59px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 28px;
}

    #myBtn:hover {
        background-color: #555;
    }
.fa {
    padding: 9px;
    font-size: 36px!important;
    width: 56px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    height: 20%;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
.tcontainer {
    width: 100%;
    overflow: hidden; /* Hide scroll bar */
}

/* MIDDLE CONTAINER */
.ticker-wrap {
    width: 100%;
    padding-left: 100%; /* Push contents to right side of screen */
    background-color: #eee;
}

/* INNER CONTAINER */
@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 50s;
}

    .ticker-move:hover {
        animation-play-state: paused; /* Pause scroll on mouse hover */
    }

/* ITEMS */
.ticker-item {
    display: inline-block; /* Lay items in a horizontal line */
    padding: 0 2rem;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 600px) {
    #navbar {
        padding: 20px 10px !important;
    }
    .navbar a {
        float: left;
        display: block;
        color: black;
        text-align: left;
        padding: 0px 10px;
        text-decoration: none;
        font-size: 17px;
        height: 63px;
        border-radius: 28px;
    }
        #navbar a {
            float: none;
            display: block;
            text-align: left;
        }

    .navbar {
        width: 55%;
        font-size:15px;
        background-color: none;
        overflow: auto;
    }
    #navbar-right {
        float: left;
    }
    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 77%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}